<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @patientOftheBooking.first_name%>, You have successfully Booked an Appointment</h3>
    <p>Apointment Date: <%= @newBooking.date  %> Hrs</p>
    <p>Apointment Time: <%= @newBooking.time  %> Hrs</p>
    <p>Doctor's name: <%= @doc.first_name  %> <%= @doc.last_name  %> Hrs</p>
    <p>
      To login to the site, just follow this link: <a><%= @url %></a>.
    </p>
    <p>Thanks for new Booking and have a great day!</p>
  </body>
</html>